# An access and a secret key are required to use the Flatfile API
# See https://support.flatfile.com/hc/en-us/articles/4406299638932-How-can-I-create-API-Keys-
FLATFILE_ACCESS_KEY_ID=FF00AP9GGWRD4OFVG0PGLE8OJ3IH5DTKUW22A6SH
FLATFILE_SECRET=L8A45FpuW62HXTPEOWPehXCcD7rhSikrQmkEdcIz
# Add your targetted env here, it defaults to `test`. Switch to `prod` when ready
FLATFILE_ENV='prod'
# The team ID associated with the schema thats being deployed
# See https://support.flatfile.com/hc/en-us/articles/6097149079188-Where-is-my-TeamID-What-other-IDs-do-I-need-to-know-
FLATFILE_TEAM_ID=17346
# Optional - if it is not set this will default to https://api.us.flatfile.io
FLATFILE_API_URL=
